.MyTarjet{
    padding: 0 0 40px 0;

    .Head{
        position: relative;

        img{
            width: 100%;
            height: auto;
        }

        a{
            position: absolute;
            left: 20px;
            bottom: 20px;
            text-align: center;
            font-size: 0.9rem;

            img{
                width: 64px;
                height: 64px;
                display: block;
                margin-bottom: 5px;
            }
        }
    }

    .Title{
        text-align: center;
        margin-top: 20px;

        h1{
            font-weight: 600;
            font-size: 1.25rem;
            margin: 0.5rem;
        }

        h2{
            font-weight: 400;
            font-size: 1.25rem;

            span{
                display: block;
                font-weight: 700;
                font-size: 1.5rem;
                color: #03894a;
            }
        }
    }

    .Card{
        img{
            width: 100%;
            border-radius: 10px;
            box-shadow:
            8.1px 6.3px 10px rgba(0, 0, 0, 0.035),
            65px 50px 80px rgba(0, 0, 0, 0.07)
            ;
        }

        span{
            font-size: 0.9rem;
            text-transform: uppercase;
            display: block;
            text-align: center;
            font-weight: 500;
        }
    }

    .Links, .ButtonsShare{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 40px 0;

        a, button{
            font-size: 0.9rem;
            text-align: center;

            img{
                display: block;
                width: 78px;
                height: 78px;
                margin-bottom: 10px;
            }
        }
    }

    .Links{
        gap: 20px;
    }
    
    .ButtonsShare{
        justify-content: space-around;

        button{
            background: transparent;
            border: none;
        }
    }
}