.Link{
    text-decoration: none!important;
    background: #fab947;
    border-radius: 8px;
    padding: 10px 5px;
    text-transform: none!important;
    font-size: 0.9rem;

    span{
        font-weight: 600;
        display: inline!important;
        text-transform: none!important;
    }
}

.Switch{

    display: flex;
    align-items: center;
    gap: 10px;

    .Text{
        text-transform: none;
        font-size: 1rem;
    }

    .switch {
        font-size: 0.8rem;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        inset: 0;
        background: white;
        border-radius: 50px;
        overflow: hidden;
        transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
        font-size: inherit;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        right: 0.3em;
        bottom: 0.3em;
        transform: translateX(150%);
        background-color: #59d102;
        border-radius: inherit;
        transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    
    .slider:after {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        left: 0.3em;
        bottom: 0.3em;
        background-color: #cccccc;
        border-radius: inherit;
        transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    
    .switch input:focus + .slider {
        box-shadow: 0 0 1px #59d102;
    }
    
    .switch input:checked + .slider:before {
        transform: translateY(0);
    }
    
    .switch input:checked + .slider::after {
        transform: translateX(-150%);
    }
}

.title {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.1rem;
    background: transparent;
    border: none;
    font-weight: 600;
}

.two {
  display: flex;
  gap: 10px;

  input {
    flex: 1;
  }
}

.inputSelected {
  align-items: center;
  gap: 20px;

  select {
    border-radius: 8px;
    width: 20%;
  }

  label {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}
