.Site{
    .Head{
        margin-top: 50px;
        position: relative;

        @media (width <= 700px) {
            margin-top: 0px;
        }

        .Card{
            width: 100%;
            height: auto;
            border-radius: 20px;

            @media (width <= 700px) {
                width: 95%;
                display: block;
                margin: auto;
            }
        }
        .Perfil{
            width: 25%;
            height: auto;
            border-radius: 100%;
            border: 4px solid #fff;
            position: absolute;
            top: -60px;
            left: 40px;

            @media (width <= 700px) {
                top: -25px;
            }
        }
    }

    .Buttons{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        > * + * {
            margin-top: 20px;
        }

        button,a{
            width: 95%;
            background: #dce6ec;
            border: transparent;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            padding-left: 20px;
            font-size: 1rem;

            &:disabled{
                cursor: not-allowed;
                
                span{
                    background: gray;
                }
            }

            span{
                background: #4186a0;
                border-radius: 0 10px 10px 0;
                width: 15%;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 60px;
                    height: 50px;
                }

                svg{
                    height: 50px;
                    color: #fff;
                    font-size: 1.9rem;
                }
            }
        }
        .WhatsApp{
            background: #d0ead6;

            span{
                background: #00943e;
            }
        }
        .Ubication{
            background: #ffecd2;

            span{
                background: #ffa200;

                img{
                    height: 50px;
                    width: 37px;
                }
            }
        }
        .Email{
            background: #d4e0f6;

            span{
                background: #0073ce;

                img{
                    width: 50px;
                }
            }
        }
        .Web{
            background: #e1dcf4;

            @media (width <= 700px) {
                font-size: .9rem;
            }
            @media (width <= 400px) {
                font-size: .8rem;   
            }

            span{
                background: #5060c6;
                max-width: 15%;

                img{
                    width: 50px;
                }
            }
        }
        .Social{
            background: #f1d1d9;

            span{
                background: #9b034f;
            }
        }
        .Share{
            background: #e1dcf4;

            span{
                background: #5060c6;
            }
        }
        .Save{
            background: #d8d9f8;

            span{
                background: #4c5187;
            }
        }
    }

    .Services{
        h2,h3{
            text-align: center;
            font-family: "IvyModeRegular"!important;
            font-weight: 600;
            font-size: 1.25rem;
        }
        .Icon{
            display: block;
            margin: auto;
            margin-bottom: 20px;
        }
        ul{
            padding: 0 50px;

            > * + * {
                margin-top: 8px;

                @media (width <= 700px) {
                    margin-top: 10px;
                }
            }
        }

        .Workers{
            display: flex;
            flex-direction: column;
            align-items: center;

            > * + *{
                margin-top: 60px;
            }

            .Worker{
                background: #c3ddc3;
                width: 80%;
                border-radius: 8px;
                
                .Header{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    position: relative;
                    cursor: pointer;

                    .Image{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        right: 10px;

                        img{
                            margin-bottom: 5px;
                            border-radius: 100%;
                            width: 60px;
                            height: 60px;
                            border: 2px solid #55555553;
                        }
                        svg{
                            font-size: 1.5rem;
                            font-size: 1.7rem;
                            color: #11B377;
                            rotate: (180deg);
                        }
                    }
                }

                .Header2{
                    justify-content: end;
                    
                    .Image{
                        position: absolute;
                        left: 10px;
                        right: inherit;
                    }
                }

                .Contain{
                    padding: 20px;
                    background: #fff;
                    border-radius: 0 0 8px 8px;

                    img{
                        width: 80%;
                        height: auto;
                        display: flex;
                        border-radius: 8px;
                        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                    }
                }

                .Contain2{
                    display: flex;
                    justify-content: end;
                }
            }
        }

        .ServiceContainer{
            text-align: center;

            h3{
                font-weight: 400;
                text-transform: capitalize;
            }
            img{
                width: 80%;
                height: auto;
                display: block;
                margin: auto;
                margin-bottom: 20px;
                border-radius: 8px;

                @media (width <= 700px) {
                    width: 90%;
                }
            }
        }
    }

    .Social{
        h4{
            text-align: center;
            font-size: 1.25rem;
            font-weight: 600;
        }

        .SocialButtons{
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            place-items: center;
            row-gap: 20px;

            a,button{
                padding: 15px;
                border-radius: 20px;
                background: #e8ecf1;
                width: fit-content;
                border: transparent;

                svg{
                    font-size: 2.5rem;

                    @media (width <= 700px) {
                        font-size: 2rem;
                    }
                }
            }

            .Disabled{

                cursor: none;
                pointer-events: none;

                .Blue{
                    display: none;
                }
                svg{
                    color: #cfd6d5!important;
                }
            }

            .Facebook{
                color: #0056b3;
            }
            .Instagram{
                color: #E4405F;
            }
            .Tiktok{
                position: relative;
                
                .Blue, .Red{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }

                .Blue{
                    color:  #00f2ea42;
                    top: 12px;
                    left: 12px;
                }
                .Red{
                    color:  #ff005147;
                    left: 17px;
                    top: 17px;
                }
            }
            .Twitter{
                color:  #1DA1F2;
            }
            .Youtube{
                color:  #FF0000;
            }
            .Linkedin{
                color:  #0A66C2;
            }
            .Telegram{
                color:  #0088cc;
            }

        }

        .Username{
            text-align: center;

            h5{
                color: #055b7d;
                font-family: "IvyModeRegular"!important;
                font-size: 1.25rem;
            }
            p{
                text-transform: uppercase;
            }
            .user{
                text-transform: lowercase;
                font-size: 1.1rem;
            }
        }
        .Info{
            background: #ecf0f8;
            border-radius: 30px;
            padding: 40px 20px;
            text-align: center;

            @media (width <= 700px) {
                width: 95%;
                display: block;
                margin: auto;
            }

            img{
                display: block;
                margin: auto;
                margin-bottom: 20px;

                width: 25%;
                height: auto;
            }

            h6{
                font-size: 1.15rem;
                font-weight: 400;
                color: #212529;

                span{
                    font-weight: 600;
                    color: #2b5035;
                    font-size: 1.2rem;
                }
            }
            a{
                background: #03894a;
                border-radius: 8px;
                padding: 10px 20px;
                color: #fff;
                font-weight: 600;
                font-size: 0.9rem;
                display: block;
                width: 80%;
                margin: auto;
                margin-bottom: 20px;

                span{
                    font-weight: 400;
                }
            }
            .Card{
                width: 50%;
            }
            .Orange{
                background: #ff6b0f;
            }
            .Violet{
                background: #5f6e9f;
                margin-bottom: 0;
            }
        }
        .LinkFooter{
            text-align: center;
            display: block;
            width: 50%;
            margin: auto;
            margin-top: 20px;
            text-decoration: underline;
            color: #038950;
        }
    }
}