* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  outline: none;
  cursor: pointer;
}

hr{
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
  margin: 40px 0;
}

.green, .greenWhite{
  width: 100%;
  /* background: rgba(0, 128, 0, .1098039216); */
  background: #0080001c;
}

@media screen and (max-width: 700px){
  .green{
    background: #f4ede8;
  }

  .greenWhite{
    background: #fff;
  }
}


.background{
  background: url('../public/images/fondo-tarjet.png');
  background-size: 50cqw;

  @media (width <= 700px) {
    background: none;
  }
}

.body{
  min-height: 94vh;
  padding: 40px 0;
  width: 80%;
  margin: auto;
  /* background: red; */

  @media (width <= 700px) {
    width: 98%;
  }
}
.contain{
  width: 35%;
  margin: auto;
  /* background: blue; */

  @media (width <= 1300px) {
    width: 45%;
  }

  @media (width <= 1000px) {
    width: 65%;
  }

  @media (width <= 700px) {
    width: 100%;
  }
}

h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 1rem;
}

form{
  padding: 20px 0;

  > * + * {
    margin-top: 16px;
  }
}
input, select{
  width: 100%;
  padding: 10px;
  background: #fff;
  border: transparent;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

.btn{
  background: #91ba14;
  padding: 8px 20px;
  border: transparent;
  width: auto;
  border-radius: 8px;
  font-size: 1rem;
  display: block;
  margin: auto;
  transition: all 0.3s ease;
}

button:disabled{
  background: rgb(225, 225, 225)!important;
  color: #8c8c8c;
}

form div{
  display: flex;
}

form div input{
  width: 90%;
  border-radius: 8px 0 0 8px;
}

form div button{
  width: 10%;
  max-height: inherit;
  background: #fff;
  border: none;
  border-radius: 0 8px 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

form div button img{
  width: 70%!important;
}

form .link{
  background: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: #007bff;
  font-size: 0.8rem;
}

form a{
  color: #007bff;
  font-size: 0.8rem;
}

form .error{
  display: block;
  > * + *{
    margin-top: 10px;
  }
}

form .error p{
  color: #d90011;
}

form .two{
  gap: 10px;
  align-items: center;
}

form .two input{
  gap: 10px;
  border-radius: 8px;
  width: 50%;
}

form .two span{
  font-size: 0.7rem;
  width: 50%;
}

form input :disabled {
  background: red;
}

form datalist option{
  display: none;
  text-transform: uppercase;
}

form .title{
  display: flex;
  margin: auto;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.1rem;
  background: transparent;
  border: none;
  font-weight: 600;
}

form .contact{
  display: block;

  > * + * {
    margin-top: 16px;
  }
}

form .contact .input-contact{
  width: 100%;
}

form .contact input, select{
  width: 100%;
  border-radius: 8px;
}

form .contact .input-contact div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  border-radius: 8px 0 0 8px;
  background: #6b989e;
}

form .contact div svg{
  color: #fff;
  font-size: 1.5rem;
}
form .contact div img{
  width: 60%;
  height: auto;
}

form .contact .input-contact input, select{
  border-radius: 0 8px 8px 0;
}

form .contact .input-contact select{
  width: 90%;
}

form .input-checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
form .input-checkbox input{
  width: auto;
}

form .contact .input-selected{
  align-items: center;
  gap: 20px;
}

form .contact .input-selected select{
  border-radius: 8px;
  width: 20%;
}

.pop{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.631);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop .container{
  position: relative;
  background: #d8e3ec;
  border-radius: 20px;
  padding: 20px;
  width: 500px;

  @media (width <= 700px) {
    width: 90%;
  }
}

.pop .container h5{
    text-align: center;
    font-weight: 600;
    color: #006d2e;
    font-size: 1.25rem;
}

.pop .container p{
  font-size: 0.75rem;
  color: #000;
  text-align: center;
}

.pop .container span{
  color: #007bff;
  cursor: pointer;
}

.pop .container .close {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #5b8f94;
  background: transparent;
  border: transparent;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.pop .container .error{
  color: #d90011;
}

::-webkit-scrollbar {
  width: 9px;
  background: (242, 242, 242, 0.2);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(41, 41, 41, 0.417);
  border-radius: 8px;
}

@font-face {
  font-family: 'IvyModeRegular';
  src: url('/fonts/IvyMode-Regular.ttf') format('truetype');
}


.slick-prev:before, .slick-next:before{
  display: none;
}

.slick-prev svg, .slick-next svg{
  z-index: 1;
  color: #000;
  font-size: 1.2rem;

  @media (width <= 700px) {
    font-size: 1rem;
  }
}

.userResult{
  border-radius: 20px;
  background: #d4e7f2;
  margin-top: 20px;
  width: 100%;
}

.userResult .header{
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.userResult .header img{
  border-radius: 100%;
  width: 20%;
  height: auto;
}

.userResult .header .text{
  width: 80%;
}

.userResult .header .text h5{
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0;

  /* @media (width <= 700px) {
    font-size: 1rem;
  } */
}

.userResult .header .text span{
  font-size: 0.9rem;
  font-weight: 400;

  /* @media (width <= 700px) {
    font-size: 0.8rem;
  } */
}

.userResult .card img{
  width: 100%;
  height: auto;
}

.userResult .footer{
  padding: 10px 15px;
}
.userResult .footer span{
  display: block;
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;

  @media (width <= 700px) {
    font-size: 0.7rem;
  }
}