.Image{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}
.Link{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    color: #067232;
    width: fit-content;
}