.Directory{
    padding: 0px;

    @media (width <= 700px) {
        padding: 0 2%;
    }

    .Video{
        width: 70%;
        margin: auto;

        @media (width <= 800px) {
            width: 100%;
        }

        video{
            width: 100%;
            height: auto;
            margin-bottom: 40px;
        }

        .VideoMobile{
            display: none;
        }

        @media (width <= 800px) {
            .VideoDesk{
                display: none;
            }

            .VideoMobile{
                display: block;
            }
        }
    }
}