.Perfil{


    @media (width <= 700px) {
        padding: 0 10px;
    }

    .HeaderUser, .Buttons{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .HeaderUser{

        .Image{
            width: 35%;
            
            img{
                display: block;
                margin: auto;
                width: 80%;
                height: auto;
                margin-bottom: 20px;
                border-radius: 100%;
            }
        }

        .Info{
            width: 80%;

            h1,h2{
                font-weight: 600;
            }

            h1{
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }
            h2{
                font-size: 1.3rem;
            }
        }
    }

    .Buttons{
        margin-bottom: 20px;

        a{
            text-transform: uppercase;
            font-size: 0.9rem;
        }

        .first{
            width: 30%;
            text-align: center;
        }
        .second{
            width: 80%;
        }
    }

    hr{
        margin-top: 0;
    }
}