.MxmProfile{
    padding-top: 0;

    @media (width <= 700px) {
        width: 100%;
    }

    .Head{

        .HeadImage{
            width: 100%;
            height: auto;
            border-radius: 0 0 30px 30px;
        }
        .ProfileInfo{
            display: flex;
            align-items: center;
            gap: 15px;
            margin-left: 20px;
            margin-top: -30px;

            @media (width <= 700px) {
                padding: 0 2%;
            }

            img{
                width: 25%;
                height: auto;
                border-radius: 100%;
                border: 4px solid #fff;
            }

            h1{
                font-size: 1.3rem;
                text-transform: uppercase;
                font-weight: 600;
                margin-top: 20px;

                @media (width <= 700px) {
                    font-size: 1.2rem;
                    margin-top: 40px;

                    span{
                        font-size: 0.9rem;
                    }
                }

                span{
                    text-transform: none;
                    font-weight: 400;
                    font-size: 1.1rem;
                }
            }
        }
    }

    .Services{

        h2{
            text-align: center;
            font-family: "IvyModeRegular" !important;
            font-weight: 600;
            font-size: 1.25rem;
        }
        .Icon{
            display: block;
            margin: auto;
        }
        p{
            font-weight: 500;
            padding: 0 30px;
        }
        ul{
            padding: 0 50px;

            > * + * {
                margin-top: 10px;
            }
        }
    }

    .Sellers{
        @media (width <= 700px) {
            padding: 0 2%;
        }

        .Icon{
            display: block;
            margin: auto;
        }

        .Head{
            margin-top: 40px;
            background: url('/mxm/encabezado-sellers.webp');
            background-position: center center;
            background-size: cover;
            padding: 40px 20px;
            text-align: center;

            h3{
                font-family: "IvyModeRegular", sans-serif;
                line-height: 28px;
                font-size: 1.25rem;
                font-weight: normal;

                span{
                    font-family: "Times New Roman", Times, serif;
                    text-transform: uppercase;
                    color: #fff;
                    letter-spacing: 5px;
                    font-size: 1.35rem;
                }
            }
        }
        .Seller{
            position: relative;
            width: 100%;
            margin-top: -4px;
            
            .Gif{
                width: 100%;
                height: auto;
            }

            .Logo{
                width: 20%;
                height: auto;
                display: block;
                margin: auto;
                position: absolute;
                top: 40px;
                left: 0;
                right: 0;
            }

            .Contact{
                position: absolute;
                bottom: 60px;
                left: 0;
                right: 0;
                text-align: center;
                display: block;
                margin: auto;
                
                @media (width <= 700px) {
                    bottom: 30px;
                }

                h4{
                    font-family: "Times New Roman", Times, serif;
                    font-size: 4rem;
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    font-weight: lighter;
                    margin-bottom: 0px;

                    @media (width <= 700px) {
                        font-size: 2.2rem;
                        margin-bottom: 10px;
                    }
                }
                a{
                    display: block;
                    margin: auto;
                    width: 40%;
                    background: #1c1f2a;
                    font-family: "IvyModeRegular", sans-serif;
                    border-radius: 8px;
                    padding: 7px;
                    font-size: 1.1rem;
                    color: #fff;

                    @media (width <= 700px) {
                        width: 70%;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    .ImageFooter{
        width: 100%;
        height: auto;
        margin-top: -5px;
    }

    .Social{
        margin-top: 40px;

        h4{
            text-align: center;
            font-size: 1.25rem;
            font-weight: 600;
        }

        .SocialButtons{
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            place-items: center;
            row-gap: 20px;

            a,button{
                padding: 15px;
                border-radius: 20px;
                background: #e8ecf1;
                width: fit-content;
                border: transparent;

                svg{
                    font-size: 2.5rem;

                    @media (width <= 700px) {
                        font-size: 2rem;
                    }
                }
            }

            .Disabled{

                cursor: none;
                pointer-events: none;

                .Blue{
                    display: none;
                }
                svg{
                    color: #cfd6d5!important;
                }
            }

            .Facebook{
                color: #0056b3;
            }
            .Instagram{
                color: #E4405F;
            }
            .Tiktok{
                position: relative;
                
                .Blue, .Red{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }

                .Blue{
                    color:  #00f2ea42;
                    top: 12px;
                    left: 12px;
                }
                .Red{
                    color:  #ff005147;
                    left: 17px;
                    top: 17px;
                }
            }
            .Twitter{
                color:  #1DA1F2;
            }
            .Youtube{
                color:  #FF0000;
            }
            .Linkedin{
                color:  #0A66C2;
            }
            .Telegram{
                color:  #0088cc;
            }

        }

        .Username{
            text-align: center;

            h5{
                color: #055b7d;
                font-family: "IvyModeRegular"!important;
                font-size: 1.25rem;
            }
            p{
                text-transform: uppercase;
            }
            .user{
                text-transform: lowercase;
                font-size: 1.1rem;
            }
        }
        .Info{
            background: #ecf0f8;
            border-radius: 30px;
            padding: 40px 20px;
            text-align: center;

            @media (width <= 700px) {
                width: 95%;
                display: block;
                margin: auto;
            }

            img{
                display: block;
                margin: auto;
                margin-bottom: 20px;

                width: 25%;
                height: auto;
            }

            h6{
                font-size: 1.15rem;
                font-weight: 400;
                color: #212529;

                span{
                    font-weight: 600;
                    color: #2b5035;
                    font-size: 1.2rem;
                }
            }
            a{
                background: #03894a;
                border-radius: 8px;
                padding: 10px 20px;
                color: #fff;
                font-weight: 600;
                font-size: 0.9rem;
                display: block;
                width: 80%;
                margin: auto;
                margin-bottom: 20px;

                span{
                    font-weight: 400;
                }
            }
            .Card{
                width: 50%;
            }
            .Orange{
                background: #ff6b0f;
            }
            .Violet{
                background: #5f6e9f;
                margin-bottom: 0;
            }
        }
        .LinkFooter{
            text-align: center;
            display: block;
            width: 50%;
            margin: auto;
            margin-top: 20px;
            text-decoration: underline;
            color: #038950;
        }
    }
}